* {
  box-sizing: border-box !important;
}

header .cell {
  display: flex;
  align-items: center;
  background: #32343d;
  padding: 10px;
}

header a,
header a:visited,
header a:hover {
  text-decoration: none;
  color: #b4dde3;
}

header h1,
header nav,
header ul {
  display: flex;
  margin-bottom: 0;
}

header img {
  height: 4rem;
  padding: 0 10px 14px 0;
}

header h1 {
  font-weight: bold;
  height: min-content;
}

header nav {
  margin-left: auto;
}

header ul {
  font-size: 1.5rem;
}

header li:hover {
  border-bottom: #b4dde3 solid 2px;
  transition: 0.5s;
}

header ul > * {
  list-style-type: none;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

#featured-articles {
  position: relative;
}

#featured-articles > * {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0%;
  height: 400px;
  margin: 20px;
  border: #32343d solid 1px;
  box-shadow: 0px 0px 7px black;
}
#featured-articles > *:hover {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0%;
  height: 400px;
  margin: 20px;
  border: #32343d solid 1px;
  box-shadow: 1px 1px 5px;
}

#featured-articles p {
  padding: 10px;
  color: #b4dde3;
  margin: 0;
  background: #32343d;
  text-align: center;
}

.featured-article-title {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 5px;
}

.featured-image {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/piggy-bank-icon.jpg");
}

.featured-article-author {
  display: inline;
  position: absolute;
  top: 80%;
  font-size: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.price-form,
.exchange-rates-form {
  background: #32343d;
  color: #b4dde3;
}

.price-index-flex-container h2,
.exchange-rates-flex-container h2 {
  font-size: 2rem;
  margin: 5px 0 5px 15px;
  color: #b4dde3;
}

.price-index-flex-container,
.exchange-rates-flex-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background: #32343d;
}

.price-index-flex-container {
  flex-grow: 1;
}

.price-form,
.exchange-rates-form {
  display: flex;
  align-self: center;
  border: #b4dde3 solid 1px;
}

.price-form {
  flex-direction: column;
  width: 95%;
  margin-bottom: 20px;
}

.price-form p {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border: #b4dde3 solid 1px;
}

.exchange-rates-flex-container {
  flex-grow: 3;
}

.exchange-rates-flex-container p {
  color: #b4dde3;
  width: 96%;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
  text-align: center;
  font-size: 1.3rem;
}

.border-visable {
  border: #b4dde3 solid 1px;
}

.exchange-rates-form {
  width: 96%;
}

.exchange-rates-form .input-group {
  margin-bottom: 0;
}

.exchange-rates-form .input-group-label {
  width: 33%;
}

.exchange-rates-form .input-container {
  width: 88%;
}

.exchange-rates-form .button {
  width: 12%;
  height: 100%;
  font-size: 1rem;
}

.white-text {
  color: #fefefe;
}

.card-div {
  display: flex;
  flex-direction: row;
  background: transparent;
  height: 30rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-list {
  list-style-type: none;
  margin: 0;
}

.product-card {
  background-color: #32343d;
  border: 1px solid #e6e6e6;
  padding: 1rem;
  margin-bottom: 1.5rem;
  min-width: 13rem;
  opacity: 1;
  color: #b4dde3;
  height: fit-content;
}

.search-history {
  font-size: 7rem;
  text-align: center;
  position: absolute;
  opacity: 0.15;
  text-justify: center;
  padding-top: 8%;
  z-index: -1;
}

.product-card-thumbnail {
  display: block;
  position: relative;
  border-bottom: 2px solid #b4dde3;
  text-align: center;
  flex-wrap: nowrap;
}

.product-card-title {
  padding: 5px;
  border: #b4dde3 solid 1px;
  font-family: "Open sans", sans-serif;
  font-size: 0.9rem;  
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.product-card-sale {
  color: #cacaca;
  display: inline-block;
  font-size: 0.85rem;
  margin-left: 0.3rem;
  text-decoration: line-through;
}

.product-card-colors {
  display: block;
  margin-top: 0.8rem;
}

.product-card-color-option {
  display: inline-block;
  height: 25px;
  width: 25px;
}

#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.footer{
  position:fixed;
  bottom:0;
  z-index:10;
  width:100%;
}

@media screen and (max-width: 768px) {  
  header ul>* {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  #featured-articles {
    position: initial;
  }

  .featured-article-author {
    position: relative;
    top: 60%;
  }
  
  #featured-articles>* {
    flex-basis: 100%;
    height: 150px;
  }

  .exchange-rates-flex-container {
    height: 300px;
  }
}

@media screen and (max-width: 575px) {
  .featured-article-author {
    top: 50%;
  }
  
  .exchange-rates-form .input-group-label {
    width: 51%;
  }

  .exchange-rates-form .button {
    width: 17%;
  }

  header ul {
    font-size: 1rem;
  }
}