
* {
	box-sizing: border-box !important;
}

header .cell {
	display: flex;
	align-items: center;
	background: #32343d;
	padding: 10px;
}

header a,
header a:hover {
	color: #b4dde3;
}

header h1,
header nav,
header ul {
	display: inline;
}

header img {
	height: 64px;	
	padding: 0 10px 14px 0;
}

header h1 {
	font-weight: bold;
	height: min-content;
}

header nav {
	margin-left: auto;
}

header ul {
	font-size: x-large;
}

header ul>* {
	list-style-type: none;
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

/* 


.list-item-1,
.list-item-2,
.list-item-3 {
  cursor: pointer;
  transition: 0.5s;
}
.list-item-1:hover,
.list-item-2:hover,
.list-item-3:hover {
  color: cornflowerblue;
  transition: 0.5s;
}
.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.bg-active {
  visibility: visible;
  opacity: 1;
}
.modal {
  position: relative;
  background-color: #fff;
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.modal,
p {
  text-align: center;
  background-color: #fff;
}
#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
} */