* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #b4dde3;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

#stock-icon {
  height: 70px;
  margin: 10px;
}

/* #nav {
  background-color: #fff;
}

#stock-input {
  float: right;
}
#stock-icon {
  height: 25px;
  width: 25px;
  float: left;
}
#header-text {
  height: 50px;
  width: 50px;
}
} */

.list-item {
  cursor: pointer;
  transition: 0.5s;
}
.list-item:hover {
  color: cornflowerblue;
  transition: 0.5s;
}
